/#2 store.py
/.vs
/.vscode
/1a.py
/1a.txt
/2a.py
/2a.txt
/AAA.wav
/Abrupt-Stop-Car.mp3
/add.py
/AddNumbers.class
/AddNumbers.java
/alarm-clock.wav
/ALARM.py
/area_of_a_triangle.py
/Array_Sort.py
/Arshia_Undistraction.py
/Arshia_Xmas.py
/Auto_Clicker.py
/banana1.jpg
/banana2.jpg
/banana_bunch1.jpg
/banana_bunch2.jpg
/Both Betu.m4a
/Both Betu.wav
/BUBBLE_SORT.py
/Calculator.py
/CAMERA.py
/Car-Driving-Noise.mp3
/Chat_Server.py
/Chuga-Chuga Choo Choo !!!!!.mp3
/CLICKER.py
/Client.py
/compare record.py
/compare text.py
/Dada_Figure_Maker
/Dada_Figure_Maker.py
/DASH.wav
/demofile2.txt
/DOT.wav
/Drawer.py
/Ducky_BirthDay.py
/exit sample.py
/FARMER.py
/Fernite_And_Celsius.py
/Fernite_And_Celsius.txt
/FILE_READ.py
/FILE_READER.py
/FIRST_PYGAME.py
/flappy_bird_background.png
/Get That Ball!.py
/GPIO_BLINK.py
/H1.py
/hangman.py
/hangman1.py
/Hello.py
/Hello_2.py
/Java_Class_Thing.py
/Java_Class_Thing1.java
/leap year.py
/LIST_THING.py
/MAKEY_MAKEY_DADA.py
/Math...bleh.py
/Minecraft_Fishing_Sound.wav
/Minecraft_Fishing_Sound1.wav
/Minecraft_Fishing_Sound2.wav
/Minecraft_Fishing_Sound3.wav
/Minecraft_Speed_Briger
/Minecraft_Speed_Briger.py
/module1.py
/Monopaly.py
/Morse Code.py
/motor_control.py
/mountains.png
/Mouse.py
/mujic.py
/NET_SNIFF.py
/New File
/number_sort.py
/Oa.txt
/opencv1.png
/opencv6.png
/opencv7.png
/opencv8.png
/opencv9.png
/OpenCVTest.py
/output.avi
/output.m4a
/output.wav
/output7.mp4
/output7.wav
/password.py
/password.txt
/password_1.py
/password_2.py
/play.py
/Point_Slope_Form.py
/positive Number.py
/pyautogui_test.py
/pygame_hangman.py
/PY_KEYBOARD.py
/RASPI_CAR.png
/rassberry_pi_light.py
/recorder.py
/Recording.m4a
/Recording1.m4a
/rock.jpg
/Rock_Paper_Scissors.py
/root square.py
/Sample1
/screenshot_with_python.png
/some_output_file.txt
/SPACE.wav
/SPEED.py
/Sqrare.py
/store.py
/test.m4a
/test.py
/test2.py
/test3.py
/text to speech.py
/Text_Compare.py
/This is a Test.wav
/tic tac toe.py
/Timer_alarm.py
/TXT_STUFF.py
/Untitled.png
/Username.txt
/VijayAlarm.py
/vowel.py
/waki tacky clint.py
/waki tacky server.py
/waki tacky.py
/webcam.log
/_opener.py
/welcome.mp3
/__pycache__